<h1 style="text-align:center;padding: 5px;font-size: 30px;color:#f4ede6  ;font-family:'Raleway',sans serif;" ">New movie</h1>
<table>
  <tr>
    <td><%= render "form", movie: @movie %></td>
  </tr>
  <tr>
    <td><%= link_to "Back to movies", movies_path,style:"font-weight:bold;text-decoration: none;text-transform: none;border-radius:15px;color:#f4ede6 ;margin:5px;background-color: #043c4b !important; padding:6px;font-size:20px" %></td>
  </tr>
</table>