<h1 style="text-align:center;padding: 5px;font-size: 30px;color:#f4ede6  ;font-family:'Raleway',sans serif;" >Editing client</h1>

<%= render "form", client: @client %>

<br>

<div class="text-center p-10"> 
  <%= link_to "Show this client", @client,style:"text-decoration: none;text-transform: none;font-size: 20px;color:#f4ede6  ;font-family:'Raleway',sans serif;"  %> 
  <span style="font-size: 20px;color:#f4ede6 ;margin:10px">  |  </span>
  <%= link_to "Back to clients", clients_path ,style:"text-decoration: none;text-transform: none;font-size: 20px;color:#f4ede6  ;font-family:'Raleway',sans serif;" %>
</div>
