<h1 style="text-align:center;padding: 5px;font-size: 30px;color:#f4ede6  ;font-family:'Raleway',sans serif;">New client</h1>

<%= render "form", client: @client %>

<br>

<div>
  <%= link_to "Back to clients", clients_path,style:"text-decoration: none;text-transform: none;font-size: 20px;color:#f4ede6  ;font-family:'Raleway',sans serif;"  %>
</div>
